services:
  database:
    image: postgres:16
    restart: always
    container_name: alisa-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: alisa
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    container_name: alisa-backend
    ports:
      - '3000:3000'
    depends_on:
      - database
    volumes:
      - ./backend/src:/app/src
      - ./backend/test:/app/test
      - ./backend/package.json:/app/package.json
      - ./backend/tsconfig.json:/app/tsconfig.json
      - ./backend/.env:/app/.env

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: alisa-frontend
    ports:
      - '3001:8080'
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/node_modules:/app/node_modules
      - ./frontend/package.json:/app/package.json
      - ./frontend/vite.config.ts:/app/vite.config.ts
      - ./frontend/.env:/app/.env      
    

volumes:
  postgres-data: